
.container
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    
}
.div{
background-color: aqua;

}
@media  (max-width:400px) {
    .container{
    display: grid;
    grid-template-columns: 1fr;
    
}
}
@media  (min-width:401px) and (max-width:768px){
    .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
}
@media  (min-width:769px) and (max-width:1024px){
    .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
}@media  (min-width:1025px) and (max-width:2065px){
    .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
}